
#Header{
	background-color: MediumSpringGreen;
}
h1 {
	text-align: center;
	font-family: monospace;
	font-size: 40px;
}

h2 {
	font-family: monospace;
}

p, ul,ol{
	font-size: 18px;
	font-family: monospace;
}

.type-wrap{
	text-align: center;
	font-size:18px;
	color: White;
}

#General {
	text-align: center;
	background-color: PowderBlue;
}
#Activities {
	background-color: LemonChiffon;
}
#Projects{
	background-color: LightPink;
}
/*
html {
	background-color: black;
	color: white;
}
*/
